body {
  color: black;
  background-color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

nav{
  height: 100px;
  text-align: left;
}

h1{
  font-weight: bold;
  font-size: 4em;
}

#tagline{
  font-weight: bold;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  text-transform: uppercase;
  color: #834a59;
  letter-spacing: 5px;
  font-weight: bold;
}

#banner{
  position:relative;
  height: 350px;
  margin: 0px;
  background-color: #f2ede9;
}


#about-me{
  height: 200px;
  border-style: dotted;
}

.square-100 {
    width: 100px;
    height: 100px;
}

.bg-white {
    background-color: #fff;
}

.circle {
    border-radius: 50%;
}

#services{
  position:absolute;
  clear: both;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: black;
}

.one-third{
  float: left;
  width: 33.3333333%;
  margin: 0px auto;
}

.description{
  text-align: center;
  margin: 0 auto;
}

li{
  text-align: center;
  list-style-type: none;
  width: 100%
}

.card{
  margin: 20px;
  height: 300px;
  padding: 20px;
  border-radius: 5px;
  border: 4px dotted grey;
}


 .card.one{
   background-color: #f6eee1;
 }

 .card.two{
     background-color: #DEE2D0;

 }

 .card.three{
     background-color: #F4E6E8;
 }

.icon-wrap{
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 125%;
  background-color: white;
}

.icon-wrap i{
  color: #4a4949;
  font-size: 450%;
  padding: 20%;
}

#projects{
  clear: both;
  height: 300px;
  margin: 0 auto;
  background-color: #f2ede9;
}

.audio-wrapper{
  clear: both;
  text-align: center;
  margin: 0 auto;
  display: flex;
  height: 70%
}

iframe{
  margin: 10px;
  height: 100%;
  border-style: solid;
  border-radius: 5px;
}

#contact-me{
  clear: both;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #58544E;
  color: white;

}

.one-third-audio{
  margin: 0 auto;
  text-align: center;
}

.contact-icons{
  font-size: 40px;
  text-align: center;
}

.contact{
  margin: 0 40px;
}

a{
  text-decoration:none;
  color: inherit;
}
